version: '3'
services:

  logspout:
    image: gliderlabs/logspout
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    command: "syslog+tls://${PAPERTRAIL_URL}"
    restart: always

  nginx:
    image: nginx:alpine
    depends_on:
      - wordpress
      - logspout
    volumes:
      - www:/var/www/html
      - tmp:/tmp
      - ./nginx:/etc/nginx:ro
      
    ports:
      - '80:80'
      - '443:443'
    restart: always
    
  redis:
    image: redis:alpine
    restart: always
    depends_on:
      - logspout
  
  mysql:
    image: yobasystems/alpine-mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql:/var/lib/mysql
    restart: always
    
  wordpress:
    image: wordpress:fpm-alpine
    expose:
      - 9000
    depends_on:
      - mysql
      - redis
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - www:/var/www/html
      - tmp:/tmp
      - ./php/www.conf:/etc/php/7.2/fpm/pool.d/www.conf:ro
    restart: always

volumes:
  certbot:
  www:
  mysql:
  tmp:
